<div class="about_bnr" id="top">
    <h1>Terms and Conditions</h1>
  </div>
  
  <div class="layout">
    <div>
        <p>
            These Terms and Conditions ("Terms") govern the use of the flight booking services provided by
            GuaranteedFlights.com, hereinafter referred to as the "Company." By using our website and services, users
            agree to comply with these Terms.
        </p>
  
        <h1>1. Flight Booking Services</h1>
        <ul>
            <li><span class="section-number">1.1</span> The Company offers flight booking services to users for domestic flights operated by various airlines.</li>
            <li><span class="section-number">1.2</span> Users may search for flights, view prices, and make bookings through our website.</li>
            <li><span class="section-number">1.3</span> The Company guarantees the availability of flights as displayed on our website at the time of booking. In
                the event of unavailability due to circumstances beyond our control, users will be promptly notified and
                offered alternative options.</li>
        </ul>
  
        <h1>2. Booking Process</h1>
        <ul>
            <li><span class="section-number">2.1</span> Users must provide accurate and complete information when making flight bookings, including passenger
                details, contact information, and payment details.</li>
            <li><span class="section-number">2.2</span> By completing a booking, users agree to pay the total amount due for the selected flight(s) and any
                associated fees.</li>
            <li><span class="section-number">2.3</span> Users may be required to provide additional documentation or information to comply with airline and
                government regulations, such as passport details for international travel.</li>
            <li><span class="section-number">2.4</span> In the case where your original booked outgoing flight on a roundtrip ticket is cancelled by the carrier
                of choice, the user is hereby notified that booking an alternate flight using their refund total and then
                not showing for the alternate outbound flight the airline provides for you, will result in your return
                ticket on the original roundtrip flight being null and void. It is important to check with the airline’s
                policy regarding choosing your own alternate flight before making the decision to use our site to book a
                new flight.</li>
        </ul>
  
        <h1>3. Payment</h1>
        <ul>
            <li><span class="section-number">3.1</span> Payment for flight bookings must be made in full at the time of booking, unless otherwise specified.</li>
            <li><span class="section-number">3.2</span> The Company accepts various payment methods, including credit/debit cards, and any other payment options
                available on the site.</li>
            <li><span class="section-number">3.3</span> Users are responsible for any additional fees or charges imposed by airlines or payment processors.</li>
        </ul>
  
        <h1>4. Flight Guarantees</h1>
        <ul>
            <li><span class="section-number">4.1</span> The Company guarantees the availability of flights as displayed on our website at the time of booking,
                subject to availability.</li>
            <li><span class="section-number">4.2</span> In the event your airline cancels your flight, the Company will assist users in rebooking alternative
                flights or obtaining refunds, as per Company policies. Note: This policy is unique to GuaranteedFlights.com
                and goes above and beyond and in addition to what your airline may also provide for you. It is important
                to understand this before you choose to book an alternate flight on GuaranteedFlights.com. See Section
                2.4 above before using the rebooking option.</li>
        </ul>
  
        <h1>5. Liability</h1>
        <ul>
            <li><span class="section-number">5.1</span> The Company acts as an intermediary between users and airlines, and shall not be held liable for any
                actions, omissions, or negligence of airlines or third-party service providers.</li>
            <li><span class="section-number">5.2</span> The Company shall not be liable for any loss, damage, or inconvenience arising from flight cancellations,
                delays, or disruptions beyond our control.</li>
        </ul>
  
        <h1>6. Amendments and Cancellations</h1>
        <ul>
            <li><span class="section-number">6.1</span> Users may request amendments or cancellations to their flight bookings, subject to airline policies and
                applicable fees.</li>
            <li><span class="section-number">6.2</span> Amendments and cancellations may incur additional charges, and users are responsible for any fees imposed
                by airlines or the Company.</li>
        </ul>
  
        <h1>7. Intellectual Property</h1>
        <ul>
            <li><span class="section-number">7.1</span> All content, trademarks, and intellectual property rights on our website belong to the Company or its
                licensors. Users may not use, reproduce, or distribute any content without prior consent.</li>
        </ul>
  
        <h1>8. Governing Law</h1>
        <ul>
            <li><span class="section-number">8.1</span> These Terms and any disputes arising out of or relating to them shall be governed by and construed in
                accordance with the laws of State of Florida,USA without regard to its conflict of law provisions.</li>
        </ul>
  
        <h1>9. Contact Us</h1>
        <ul>
            <li><span class="section-number">9.1</span> If you have any questions or concerns about these Terms or our services, please contact us at
                Info@GuaranteedFlights.com.</li>
        </ul>
        <br />
  
        <p>
            By using our website and services, users acknowledge that they have read, understood, and agreed to these
            Terms and Conditions.
        </p>
    </div>
  </div>
  