main {
    background-color: #001D2F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    min-height: 100vh;

    .main_content {
        width: 1320px;
        max-width: 1320px;
        margin: 0 auto;
        background-color: #ffffff;
        border-radius: 40px;
        padding: 40px;
        display: flex;

        .left_cont {
            width: 400px;
            padding-left: 40px;

            .main_logo {
                >img {
                    margin-bottom: 30px;
                }
            }

            h2 {
                font-size: 32px;
                line-height: 1;
                color: #00253C;
                margin-bottom: 25px;
            }

            ::ng-deep .keep_forgot {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                font-size: 14px;
                line-height: 1.8;
                color: #828282;
                margin-bottom: 90px;

                a {
                    text-decoration: none;
                    color: var(--lt_txt);
                }

                .mat-mdc-checkbox label {
                    color: #828282;
                }
            }

            p.tcp {
                font-size: 14px;
                line-height: 1.4;
                margin-bottom: 30px;

                a {
                    text-decoration: none;
                    color: var(--lt_txt);
                }
            }

            button.btn_sg {
                width: 100%;
                border-radius: 8px;
                height: 44px;
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 40px;
            }

            .dont_acc {
                font-size: 14px;
                line-height: 1.4;
                margin-bottom: 0;
                text-align: center;

                a {
                    text-decoration: none;
                    color: var(--lt_txt);
                }
            }

            .continue_social {
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 25px;
            }
        }

        .right_cont {
            width: calc(100% - 400px);
            padding-left: 105px;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 40px;
            }
        }
    }
}

.img_abs {
    position: absolute;
    left: 10px;
    /* adjust as needed */
    top: 50%;
    transform: translateY(-50%);
}



button[mat-icon-button] {
    position: absolute;
    right: 10px;
    /* adjust as needed */
    top: 50%;
    transform: translateY(-50%);
}

::ng-deep .left_cont {
    .mat-mdc-text-field-wrapper.mdc-text-field {
        padding: 0 16px 0 45px;
        height: 50px;
        background-color: #e7e7e7;
        border: 1px solid #e7e7e7;
        border-radius: 8px;
        align-items: center;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        opacity: 0;
    }

    .img_abs {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
        border-color: var(--lt_txt);
        background-color: var(--lt_txt);
    }
}

@media only screen and (max-width: 1199px) {
    main {
        .main_content {
            padding: 30px;

            .left_cont {
                padding-left: 0;
            }

            .right_cont {
                width: calc(100% - 400px);
                padding-left: 40px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    main {
        padding: 20px;
        min-height: 100%;

        .main_content {
            padding: 20px;
            max-width: 768px;

            .left_cont {
                width: 100%;
                padding-left: 0;

                .main_logo {
                    display: flex;
                    justify-content: center;
                }

                h2 {
                    font-size: 28px;
                    text-align: center;
                }

                .keep_forgot {
                    margin-bottom: 25px;
                }

                button.btn_sg {
                    margin-bottom: 30px;
                }
            }

            .right_cont {
                display: none;
            }
        }
    }
}