/* add-car-dialog.component.css */
.sub-heading {
    color: #777;
    margin-bottom: 16px;
  }
  /* add-car-dialog.component.css */
.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ccc; /* Optional: Add a border below the title */
  }
  
  .dialog-title h2 {
    margin: 0;
  }

  
  .dialog-title button {
    margin-left: auto; /* Push the close button to the right */
  }
 /* add-car-dialog.component.css */
 .full-width {
  width: 100%;
}

.form-row {
  display: flex;
}
.feild-design{
  margin-top: 22px 
}
.form-field {
  margin-right: 16px; /* Adjust spacing between fields as needed */
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color:none;
}