<div class="about_bnr" id="top">
  <h1>Taxes And Fees</h1>
</div>

<div class="layout">
  <div>
    <h1>Airline Taxes</h1>
    <p>
      At GuaranteedFlights.com , we don’t want any confusion when it comes to airline
      taxes and fees. Unfortunately, airline taxes are incredibly complex to
      understand! But we’ve put together a guide to help you understand what
      taxes you can expect to be charged when flying, and why these taxes are
      charged in the first place.
    </p>
    <h1>What are Airline Taxes?</h1>
    <p>
      Air ticket taxes are charged on the amount paid for commercial air
      transportation.
    </p>

    <p>
      Some taxes are charged by governments (often described as 'government
      imposed duties'), some are charged by airports (see 'departure tax') and
      some are charged by the airlines themselves (often described as 'carrier
      imposed surcharges').
    </p>
    <p>
      An airline will usually add mandatory ticket taxes on top of a ticket’s
      base fare, resulting in the total price of the ticket.
    </p>
    <p>
      The amount you will pay in airline tax depends on a number of factors,
      including your country of departure, your arrival destination, as well as
      a number of other factors, such as your age (young children are often
      exempt) and your class of travel.
    </p>
    <h1>THE UNITED STATES AIRLINE TAX AND FEES EXPLAINED</h1>
    <p>
      Airlines and their passengers pay many taxes and fees to a variety of
      authorities.
    </p>
    <p>
      The amount a passenger pays in taxes and fees on a ticket will vary based
      on itinerary, including the number of flights and which airports someone
      is flying to. The total price of the flight ticket will include these
      mandatory taxes.
    </p>
    <h2>US Government taxes on flights include the following:</h2>
    <p>
      <b>Federal Excise Tax: </b>A federal excise tax of 7.5% is charged on all
      domestic flights. Airlines must include that tax in their advertised fares
      - a rule set out by the Department of Transportation (DOT).
    </p>
    <p>
      <b>Segment Fee: </b>A segment fee of up to $4.20 USD applies per flight
      segment (domestic and international). A flight segment is defined as one
      takeoff and one landing. Passenger Facility Charges: Individual airports
      can impose ‘passenger facility charges’ (PFCs) of $4.50 USD (but up to $18
      USD) to the price of the ticket, depending upon the itinerary.
    </p>
    <p>
      <b>U.S. or International Departure and Arrival Charges: </b>U.S. or
      international government imposed taxes and fee of up to $200.00 USD may
      apply depending upon the itinerary chosen.
    </p>
    <p>
      <b>September 11th Security Fee:</b> A September 11th Security Fee of $5.60
      USD applies per one-way flight. Applies to domestic and international
      flights. An additional fee(s) of $5.60 can be added if the trip itinerary
      includes a layover or stopover of longer than four hours (domestically),
      or 12 hours (internationally), or to/from Alaska and Hawaii.
    </p>
    <h1>Booking Flights Through GuaranteedFlights.com</h1>
    <p>
      It is hard to state how much you should expect to pay in taxes, because,
      as explained, there are so many factors which will determine the amount of
      tax an airline will charge, including where you are flying from, where you
      are flying to, your cabin class, age, whether you have any layovers or
      connecting flights, as well as many other factors. Two airlines operating
      the same route may charge a different amount of air tax.
    </p>
    <p>
      When you search for flights through GuaranteedFlights.com , we display the total
      price of the ticket, which includes mandatory taxes and fees charged by
      the airline. You can even click the ‘Price Breakdown’ tab, so you can see
      exactly what taxes and fees are included in the total price of the ticket
    </p>
    <p>
      1. Start by entering your chosen departure and arrival destinations and
      dates of travel into the GuaranteedFlights.com search bar, and press 'Search'. All
      available flights will appear.
    </p>
    <p>
      2. Select the 'Price breakdown' pulldown-tab. You will then be able to
      view a price breakdown, showing the base fare and taxes that add up to the
      total price, as displayed in the search results:
    </p>
  </div>
</div>


