<div class="container-fluid">
<nav class="navbar navbar-expand navbar-light  border-bottom">
   <h1> <a class="navbar-brand" routerLink="/">LOGO</a></h1>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</div>
