
<h2 mat-dialog-title>
 
    Add Dealer
    <span class="close-icon" (click)="onCancel()">✖</span>
  </h2>
  <mat-dialog-content>
    <p class="subheading">All fields are mandatory.</p>

  <!-- Dealer Name Field -->
  <div class="form-field">
    <label for="dealerName">Dealer Name:</label>
    <input id="dealerName" type="text" placeholder="Enter Dealer Name" [(ngModel)]="dealerName">
  </div>

  <!-- Location Field -->
  <div class="form-field">
    <label for="location">Location:</label>
    <input id="location" type="text" placeholder="Enter Location" [(ngModel)]="location">
  </div>

  <!-- Total Budget Field -->
  <div class="form-field">
    <label for="totalBudget">Total Budget:</label>
    <input id="totalBudget" type="text" placeholder="Enter Total Budget" [(ngModel)]="totalBudget">
  </div>

  <!-- Owner's First Name Field -->
  <div class="form-field">
    <label for="ownerFirstName">Owner's First Name:</label>
    <input id="ownerFirstName" type="text" placeholder="Enter Owner's First Name" [(ngModel)]="ownerFirstName">
  </div>

  <!-- Owner's Last Name Field -->
  <div class="form-field">
    <label for="ownerLastName">Owner's Last Name:</label>
    <input id="ownerLastName" type="text" placeholder="Enter Owner's Last Name" [(ngModel)]="ownerLastName">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSaveClick()">Save</button>
</mat-dialog-actions>