<!-- Team 1 - Bootstrap Brain Component -->
<div class="about_bnr" id="top">
  <h1>Refund Policy</h1>
</div>

<div class="layout">
  <div>
    <p>
      Although we refund your ticket with no questions asked on an airline’s cancellation of a flight you are still
      entitled to a refund from your airline. Below shows GuaranteedFlights.com policies and what to expect when
      requesting a refund from your chosen airline.
    </p>
    <div class="table refund_policy_table">
      <div class="row">
        <div class="cell"><span class="textDesign">What the Airline Does?</span></div>
        <div class="cell"><span class="textDesign">What GuaranteedFlights.com Does?</span></div>
      </div>
      <div class="row">
        <div class="cell"><span class="textDesign">Flight Cancellation by the User</span>
          <ul>
            <li>
              Users may cancel their flight bookings subject to the cancellation policies of the respective airlines.
              Refunds for cancelled flights are subject to airline policies and may be subject to cancellation fees or
              penalties imposed by the airline.
              Users must submit a cancellation request to the Agent, and refunds will be processed in accordance with
              the airline's terms and conditions.</li>
          </ul>
        </div>
        <div class="cell"><span class="textDesign">Flight Cancellation by the User</span>

          <ul>
            <li> Within 24 hours you can cancel your flight with no penalties or charges.

              After 24 hours of booking your ticket Refunds for cancelled flights are subject to airline policies and
              may be subject to cancellation fees or penalties imposed by the airline.
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="cell"><span class="textDesign">Flight Cancellation by the Airline</span>
          <ul>
            <li>In the event of flight cancellations by the airline, users are entitled to a refund or Reebooking of
              alternative flights, subject to availability.The Agent will assist users in processing refunds or
              Reebooking alternative flights in accordance with airline policies.</li>
          </ul>
        </div>
        <div class="cell"><span class="textDesign">Flight Cancellation by the Airline</span>
          <ul>
            <li> You can choose a full refund or use the total amount of your refund toward a new flight, car rental or
              hotel reservation.

              You are also entitled to what the Airline who canceled your flight offers as stated in the adjacent
              column.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="cell"><span class="textDesign">Flight Disruptions</span>
          <ul>
            <li> If a flight is disrupted due to reasons within the airline's control (e.g., delays, schedule changes),
              users may be entitled to compensation or refunds as per airline policies.
              The Agent will work with users to process refunds or arrange alternative travel arrangements in the event
              of flight disruptions.</li>
          </ul>
        </div>
        <div class="cell"><span class="textDesign">Flight Disruptions</span>
          <ul>
            <li> You are entitled to what the Airline offers you. We will only refund our customers if the Airline
              Cancels your flight.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="cell"><span class="textDesign">Refund Processing</span>
          <ul>
            <li>Refunds will be processed to the original payment method used for the booking, unless otherwise
              specified.
              Processing times for refunds may vary depending on the airline's policies and the payment method used.
            </li>
          </ul>
        </div>
        <div class="cell"><span class="textDesign">Refund Processing</span>
          <ul>
            <li>Refunds will be processed immediately to the original payment method used for the booking, unless you
              choose to apply your refund toward a new flight, car rental, or hotel accommodation on our site.  </li>
            </ul>
        </div>
       </div>
      <div class="row">
        <div class="cell"><span class="textDesign">Refund Eligibility</span>
          <ul>
            <li> Users must comply with airline policies and provide accurate information when requesting refunds.
              Refunds are subject to the terms and conditions of the respective airlines and may be subject to
              administrative fees or penalties.</li>
          </ul>
        </div>
        <div class="cell"><span class="textDesign">Refund Eligibility</span>
          <ul>
            <li>Users must comply with airline policies and provide accurate information when requesting refunds.
              Refunds are subject to the terms and conditions of the respective airlines and may be subject to
              administrative fees or penalties. Refund Eligibility
              If the ticket was purchased by you on our site, you are eligible for a refund immediately upon the
              Airlines cancellation of your flight.
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="cell"><span class="textDesign">Refund Requests</span>
          <ul>
            <li>Users must submit refund requests to the Agent, providing relevant booking details and reasons for the
              refund.
              The Agent will review refund requests and process them in accordance with this Policy and airline
              policies.</li>
          </ul>
        </div>
        <div class="cell"><span class="textDesign">Refund Requests</span>
          <ul>
            <li>When your flight is cancelled, our system will notify you and direct you to our Rebookme site where you
              will have the option to select your refund or use those funds toward a new flight, car rental, or hotel
              accommodation.  </li>
            </ul>
        </div>
   
      </div>
      <div class="row">
        <div class="cell"><span class="textDesign">No-Show Policy</span>
          <ul>
            <li> Users who fail to show up for their flights ("no-shows") may not be eligible for refunds, and their
              bookings may be subject to cancellation fees or penalties as per airline policies.</li>
          </ul>
        </div>
        <div class="cell"><span class="textDesign">No-Show Policy</span>
          <ul>
            <li> No-shows are not eligible for any compensation</li>
          </ul>
        </div>
      </div>
    </div>

    <h2>Contact Us</h2>
    <p>
      If you have any questions or concerns about our Refund Policy or require assistance with a refund request, please
      contact us at Support@guaranteedflights.com .
    </p>

    <p>
      By using our services, users acknowledge that they have read, understood, and agreed to this Refund Policy.
    </p>
  </div>
</div>