<div class="about_bnr">
  <h1>Newsletter</h1>
</div>

<div class="layout">
  <div>
    
    <P
      ><b>All you want to know about your community & industry shipped every day straight to your inbox..</b></P
    ><br>

    <h3>United Airlines CEO tells customers string of incidents 'have sharpened our focus'</h3>
    <p>Aviation has been under the microscope this year with a series of high-profile incidents raising concerns about safety across the industry. </p>
   
    <p>United Airlines CEO Scott Kirby sent a letter to customers Monday acknowledging recent issues at the airline.</p>
    <p>“Unfortunately, in the past few weeks, our airline has experienced a number of incidents that are reminders of the importance of safety. While they are all unrelated, I want you to know that these incidents have our attention and have sharpened our focus,” the letter said while pledging action to increase safety at the carrier.</p>
    <p>“Our team is reviewing the details of each case to understand what happened and using those insights to inform our safety training and procedures across all employee groups. This is in addition to some changes that were already planned, including an extra day of in-person training for all pilots starting in May and a centralized training curriculum for our new-hire maintenance technicians,” Kirby’s statement continued.</p>
    <br>

     <h3>Seat belt 'saved' life of passenger on Boeing 737 Max flight that lost panel, lawsuit says</h3>
     <p>Two Alaska Airlines Flight 1282 passengers were sitting a row behind the gaping hole left in the Boeing 737 Max 9 jet when a door plug panel blew off. They have now sued the companies for negligence.</p>
     <p>A seat belt apparently saved the life of a passenger on the Alaska Airlines Boeing 737 Max 9 jet that lost a door-sized panel of its fuselage just after takeoff on Jan. 5 from Portland, Oregon.</p>
     <p> Cuong Tran, of Upland, California, who said the suction from the blowout took away his shoes and socks and pulled him toward the opening and injured his foot, is one of seven passengers on Flight 1282 that day who filed the lawsuit Thursday in Washington state's King County Superior Court in Seattle.</p>
     <p>He and six other passengers – including five members of a Claremont, California, family – charge Alaska Airlines, Boeing, and Spirit Aerosystems with negligence, construction and manufacturing defect liability, and failing to protect passengers from harm.
     </p>
     <p>The passengers have suffered physical and psychological trauma from the event, said attorney Timothy Loranger, who filed the lawsuit for the passengers. “Our clients – and likely every passenger on that flight – suffered unnecessary trauma due to the failure of Boeing, Spirit AeroSystems, and Alaska Airlines to ensure that the aircraft was in a safe and airworthy condition,” Loranger said in a press release announcing the lawsuit.</p>
      
     <h3>American Airlines flight blows tire during takeoff, lands safely at LAX, authorities say</h3>
     <p>An American Airlines flight landed safely in Los Angeles Wednesday night after the Boeing plane blew a tire during takeoff from Dallas, federal authorities said.</p>
     <p>American Airlines flight 345, a Boeing 777 plane, took off from Dallas Fort Worth International Airport and landed at Los Angeles International Airport without incident around 8:45 p.m. local time Wednesday, according to the Federal Aviation Administration and American Airlines.</p>
     <p>"The aircraft taxied to the gate under its own power and customers deplaned normally," the airline said in a statement sent to USA TODAY.</p>
     <p>According to the airline, the pilots "received an indication that the pressure was low in one of the aircraft’s tires," before landing.</p>
     
     <h3>United plane engine catches fire midair, flight turns back to Houston shortly after takeoff</h3>
     <p>A United Airlines flight from Houston bound for Florida made an emergency landing this week after one of its engines caught fire midair.</p>
     <p>The blaze broke out shortly after Flight 1118 took off from George Bush Intercontinental Airport at 6:40 p.m. Monday.</p>     
     <p>No injuries were reported, a United spokesperson told USA TODAY Thursday.</p>
     <p>The spokesperson said the plane was bound for Southwest Florida International Airport before the fire started.</p>
      <p>“United flight 1118 returned to Houston shortly after takeoff due to an engine issue. The flight landed safely, and the passengers deplaned normally," United released in a statement to USA TODAY.</p>
    </div>
</div>

