
<main>
    <form [formGroup]="resetForm" >
      <div class="main_content">
        <div class="left_cont">
          <div class="main_logo">
          
          </div>
          <h2>Reset Password</h2>
  
      
          <mat-form-field>
            <img class="img_abs" src="../../../assets/images/gray_env.svg" alt="email">
            <mat-label>Enter your email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>
  
    
          <mat-form-field >
            <img class="img_abs" src="../../../assets/images/gr_user.svg" alt="user">
            <mat-label> Enter your password</mat-label>
            <input matInput formControlName="confirmPassword">
            <mat-error *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
              confirm Password  is required 
            </mat-error>
          </mat-form-field>
  
  

  
          <mat-form-field class="password">
            <img class="img_abs" src="../../../assets/images/gray_lock.svg" alt="lock">
            <mat-label>confirmPassword</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
              Password is required and must be at least 6 characters long.
            </mat-error>
          </mat-form-field>
  
      

          <button type="submit" class="btn1 btn_sg"  (click)="onSubmit()" >
           Reset
          </button>


          <div class="continue_social">
            <a href="javascript:void(0)"><img src="../../../assets/images/fb.svg" alt="facebook"></a>
            <a href="javascript:void(0)"><img src="../../../assets/images/apple.svg" alt="apple"></a>
          </div>
        </div>
  

        <div class="right_cont">
          <img src="../../../assets/images/signup.png" alt="sign up">
        </div>
      </div>
    </form>
  </main>
  