<div class="about_bnr" id="top">
    <h1>Misson Statement</h1>
</div>

<div class="layout">
    <div>
        <p>
            GuaranteedFlights.com guarantees that all flights booked through its website, operated by
            our Participating Airlines, will be provided to the Passenger as per the confirmed itinerary.
            In the event of a flight cancellation, for reasons attributable to the Participating Airline,
            GuaranteedFlight.com will simply provide a refund or allow for a reallocation of the original
            ticket funds toward an alternate flight, rental car, or hotel. The Passenger should also contact
            the Participating Airline to take advantage of any accommodation or refund they may provide as well.
        </p>

        <p>
            <li>
                The Provider guarantees that all flights booked through its website, including those operated by
                Participating Airlines, will be provided to the Passenger as per the confirmed itinerary.
            </li>
            <li>
                In the event of flight cancellation, for reasons attributable to the Provider or Participating Airline,
                the Provider will simply provide a refund or reallocation of original funds toward an alternate flight,
                rental car, or hotel. The Passenger should also contact the airline to take advantage of any
                reaccommodating or refund they may provide as well.
            </li>
        </p>
    </div>
</div>