<div *ngIf="isLoading;" class="overlay">
  <!-- Loading spinner -->
  <div class="d-flex justify-content-center align-items-center h-100">

    <div id="loading-icon" class="loading-icon">
      <svg class="loader_svg" aria-hidden="true" data-test-id="loading-animation" viewBox="0 0 415 267"
        id="el_BOCLP6pw6" height="135.204">
        <defs>
          <clipPath id="clip-path">
            <rect class="cls-1" x="-27.82" y="29.26" width="414" height="252"></rect>
          </clipPath>
          <clipPath id="clip-path-2" transform="translate(28.82 -14.26)">
            <path class="cls-2" d="M208.05,171.55l1-.17a2,2,0,0,1,2.31,1.62l.52,3a2,2,0,0,1-1.62,2.31l-1,.18-1.22-6.9Z">
            </path>
          </clipPath>
        </defs>
        <title>Ready to take off</title>
        <g id="el_nJfwWliSpS">
          <rect x="1" width="414" height="252" id="el_UR3Rlodp6M"></rect>
          <path d="M180.18,61.26a79,79,0,1,1-79,79,79,79,0,0,1,79-79Z" id="el_2AOouW6tGv"></path>
        </g>
        <g id="el_fHh6bZvsAk_an_oV_fORzTJ" data-animator-group="true" data-animator-type="0">
          <g id="el_fHh6bZvsAk" data-name="cloud 1">
            <rect x="1" width="414" height="252" id="el_4FK2Nmg0Ay">
            </rect>
            <path
              d="M115,64.13a8.87,8.87,0,0,1-8.17,8.92,5.26,5.26,0,0,1-1.64.26H61.32a5.29,5.29,0,0,1-.8-.06,11.73,11.73,0,0,1-4.23-23.06A15.65,15.65,0,0,1,84.82,46a12.67,12.67,0,0,1,5.82-1.42,13,13,0,0,1,12.74,11.1,8.4,8.4,0,0,1,2.8-.48A8.87,8.87,0,0,1,115,64.13Z"
              id="el_4_9ZA_cq7d"></path>
          </g>
        </g>
        <g id="el_VgVZCV8qNA_an_3NflaPQBB" data-animator-group="true" data-animator-type="0">
          <g id="el_VgVZCV8qNA" data-name="cloud 2">
            <path
              d="M311,214.13a8.87,8.87,0,0,1-8.17,8.92,5.26,5.26,0,0,1-1.64.26H257.32a5.29,5.29,0,0,1-.8-.06,11.73,11.73,0,0,1-4.23-23.06A15.65,15.65,0,0,1,280.82,196a12.67,12.67,0,0,1,5.82-1.42,13,13,0,0,1,12.74,11.1,8.4,8.4,0,0,1,2.8-.48A8.87,8.87,0,0,1,311,214.13Z"
              id="el_dRlj1Hg9RO"></path>
          </g>
        </g>
        <g id="el_temZDqRlgT" data-name="streak 1">
          <line x1="100.94" y1="133.96" x2="90.38" y2="136.99" id="el_3LJKXP6cQi"></line>
          <line x1="87.15" y1="138.04" x2="84.31" y2="138.85" id="el_wAGXe2brv4"></line>
          <g id="el_OxDVTE_Xn-" data-name="streak 3">
            <path d="M125.3,188.45l-18.92,6.14,18.92-6.14Zm-24.73,8.16-5.08,1.64,5.08-1.64Z" id="el_IF-94PkyMu">
            </path>
          </g>
        </g>
        <g id="el_nBl2v_54Al" data-name="streak 4">
          <line x1="117.5" y1="192.5" x2="140.5" y2="184.5" id="el_ZDj4i5z_Dm"></line>
          <g id="el_LJK6reGosrf" data-name="streak 2">
            <path d="M77.12,153.22l-10.56,3" id="el_Z_JDKk7UDjQ"></path>
          </g>
        </g>
        <g id="el_UYE6SbXfV0k_an_NQYaZxUU6" data-animator-group="true" data-animator-type="0">
          <g id="el_UYE6SbXfV0k">
            <rect y="15" width="414" height="252" id="el_Q49VKD3ftJU">
            </rect>
            <path
              d="M128.24,150.73q-16.77-.72-40.31-21.1-8,1.35-12.77,2.25Q87.54,155.4,93.54,167.2q10.77-6.47,34.7-16.47Z"
              id="el_fMecw8fHi_b"></path>
            <path
              d="M128.24,150.73q-16.77-.72-40.31-21.1-8,1.35-12.77,2.25Q87.54,155.4,93.54,167.2q10.77-6.47,34.7-16.47Z"
              id="el_D1jFHAaU5-A"></path>
            <rect y="15" width="414" height="252" id="el_apRY-YxWRnw">
            </rect>
            <path d="M189.25,184.07l-2-9.87q13.83-6,20.4-5c1.17,6.49,1.71,9.33,2.22,12.45q-9.17,5.31-20.58,2.41Z"
              id="el_49dX7qX2OUO"></path>
            <path
              d="M209.83,181.66q-9.17,5.33-20.58,2.42l-2-9.88q13.83-6,20.4-5C208.78,175.7,209.32,178.55,209.83,181.66Z"
              id="el_6MjYG4WZzrC"></path>
            <rect y="15" width="414" height="252" id="el_e5kWLz-UmPm">
            </rect>
            <path
              d="M91.19,177q87.81-5.61,137.07-16.74c49.26-11.12,54.47-23.46,55.18-24.88a2.11,2.11,0,0,0-.41-2.59q-13.08-14.44-34.6-15.11T139.19,145.89Q89.85,164.94,86,173.82,84.67,177,91.19,177Z"
              id="el_lVtTG8_VUlw"></path>
            <path
              d="M283.43,135.34c-.7,1.42-5.91,13.77-55.17,24.89Q179,171.34,91.19,177c-4.34.06-6.06-1-5.16-3.14q3.82-8.88,53.16-27.93,87.72-28.9,109.24-28.25T283,132.76A2.07,2.07,0,0,1,283.43,135.34Z"
              id="el_57pTmWJ7LMk"></path>
            <g id="el_cc8Bw02eVrF">
              <path d="M208.05,171.55l1-.17a2,2,0,0,1,2.31,1.62l.52,3a2,2,0,0,1-1.62,2.31l-1,.18-1.22-6.9Z"
                id="el_qRlCB2EUlqE"></path>
              <path d="M208.05,171.55l1-.17a2,2,0,0,1,2.31,1.62l.52,3a2,2,0,0,1-1.62,2.31l-1,.18-1.22-6.9Z"
                id="el_Vg8wVxh1AU5"></path>
            </g>
            <rect y="15" width="414" height="252" id="el_LicSledHA7c">
            </rect>
            <path d="M188.57,181.92l-3.5.6c-1.74-1-2.88-2.86-3.45-5.47l5.65-1,1.3,5.86Z" id="el_mjoXMMEc0Zx"></path>
            <path d="M188.57,181.92l-3.51.6a7.89,7.89,0,0,1-3.44-5.46l5.64-1Z" id="el_r-FahTDftOu"></path>
            <path
              d="M182.31,181.29c-4.05.65-7,1.14-8.77,1.47s-3.69-.66-5.71-3l13.26-2.11A11.49,11.49,0,0,0,182.31,181.29Z"
              id="el_eWlLQtp4wuD"></path>
            <path
              d="M-28.82,29.26v252h414v-252ZM282.41,135.69c-3.42,5.15-8.5,8-12.86,10.28-10.94,5.69-29.73,11.05-42.23,13.89.42-1.24.35-2.52-.15-6.9C266.67,147.39,272.21,141.37,282.41,135.69Z"
              id="el_WKqQGIAqjNG"></path>
            <path
              d="M282.41,135.69c-3.42,5.15-8.5,8-12.86,10.28-10.94,5.69-29.73,11.05-42.23,13.89.42-1.24.35-2.52-.15-6.9C266.67,147.39,272.21,141.37,282.41,135.69Z"
              id="el_Jop5MfiI11I"></path>
            <path
              d="M159.94,180.11l-.17,0-11.83-9.83c15-9.79,56.1-17,67.72-19.49s10.89-1,11.8,4.09q1.56,10.47-9,11.89l-14.66,2.58-.19.05-3,3a7.05,7.05,0,0,1-3.86,2l-37.26,5.88.39-.14Z"
              id="el_bQwoMjIUd89"></path>
            <rect y="15" width="414" height="252" id="el_0atYqxm-SQz">
            </rect>
            <rect y="15" width="414" height="252" id="el_wPp_v7I8Lpz">
            </rect>
            <path
              d="M249,127l1.29,6.57a2,2,0,0,0,2.28,1.59q13.62-2.22,19-11.38c-5.15-2.24-7.13-3.15-11.32-4.25q-1.14,2.64-9.85,5.16h0A2,2,0,0,0,249,127Z"
              id="el_nme275rKKIp"></path>
            <path
              d="M271.56,123.78q-5.38,9.16-19,11.38a2,2,0,0,1-2.29-1.58L249,127a1.72,1.72,0,0,1,0-.39,2,2,0,0,1,1.45-1.91q8.7-2.52,9.84-5.17C264.43,120.63,266.41,121.54,271.56,123.78Z"
              id="el_bGukEPWysRE"></path>
            <path d="M95.83,162.73l-13.21-23m-.56-1.94-2.62-4.61,3-.52" id="el_LChowfwlfDm"></path>
            <rect y="15" width="414" height="252" id="el_8jv5iiosxQl">
            </rect>
            <rect y="15" width="414" height="252" id="el_POb1_FKM6kk">
            </rect>
            <rect y="15" width="414" height="252" id="el_19_W6iW8yXT">
            </rect>
            <path
              d="M224.86,130.72h0a3,3,0,0,1,3.57,2.23l.39,1.66a3,3,0,0,1-2.24,3.57h0A3,3,0,0,1,223,136l-.39-1.66a3,3,0,0,1,2.23-3.57Z"
              id="el_6H5IJpBXI05"></path>
            <path
              d="M211,133.56h0a3,3,0,0,1,3.57,2.23l.39,1.66a3,3,0,0,1-2.23,3.57h0a3,3,0,0,1-3.57-2.23l-.39-1.66a3,3,0,0,1,2.23-3.57Z"
              id="el_3NUcSWpwNv4"></path>
            <path
              d="M196.69,137.44h0a3,3,0,0,1,3.57,2.23l.38,1.65a3,3,0,0,1-2.23,3.57h0a3,3,0,0,1-3.57-2.23l-.38-1.66a3,3,0,0,1,2.23-3.57Z"
              id="el_OGvXamcCYVo"></path>
            <path
              d="M181.45,141.25h0a3,3,0,0,1,3.57,2.23l.38,1.66a3,3,0,0,1-2.23,3.57h0a3,3,0,0,1-3.57-2.23l-.38-1.66a3,3,0,0,1,2.23-3.57Z"
              id="el_MIaQ8dK22fn"></path>
            <path
              d="M165.41,144.91h0a3,3,0,0,1,3.57,2.23l.38,1.66a3,3,0,0,1-2.23,3.57h0a3,3,0,0,1-3.57-2.23l-.38-1.66a3,3,0,0,1,2.23-3.57Z"
              id="el_9kya2VLPwf2"></path>
            <path d="M203.68,169.3l9.51-9M152.66,174q4.91-3.31,6.37-4.17" id="el_75uVnI0RbsZ"></path>
            <path
              d="M159.78,179.89l-17.59-14.81a1,1,0,0,0-.82-.22l-9.29,1.64a1,1,0,0,0-.81,1.15.9.9,0,0,0,.16.39l9.26,13.54a2,2,0,0,0,1.95.85l17.14-2.54Z"
              id="el_YqFT7pvAoyQ"></path>
            <path
              d="M161.49,179.89l-17.15,2.54a2,2,0,0,1-1.94-.85l-9.27-13.53a1.11,1.11,0,0,1-.16-.39,1,1,0,0,1,.82-1.16l9.29-1.64a1,1,0,0,1,.82.22Z"
              id="el__zPse7hZ25w"></path>
            <polygon points="213.68 140.9 225.5 138.82 226.37 143.74 214.55 145.82 213.68 140.9 213.68 140.9"
              id="el_QUxLMqc43fZ"></polygon>
            <path
              d="M106.66,175.4c2.22-.5,3.31-2.56,3.66-4.8.26-1.69-.46-3.23-2.52-3.29C103,167.16,73.12,180.2,80.65,180,86.54,179.8,100.77,176.72,106.66,175.4Z"
              id="el_HHtEvwMgZFi"></path>
          </g>
        </g>
      </svg>
    </div>

  </div>
</div>
<div *ngIf="!hideFooter">
<section class="agentsSec">
  <div class="container">
    <div class="dFlex agentsIn">
      <div class="agentsTxt">
        <div class="colorBlack mb_8">Need help booking? Our agents are Ready!</div>
        <h2 class="colorBlack">Popular Domestic Airlines</h2>
      </div>
      <div class="agentsList">
        <ul class="dFlex">
          <li>
            <div class="agntImg">
              <img src="assets/images/jetblue.png" alt="jetblue">
            </div>
            
          </li>
          <li>
            <div class="agntImg">
              <img src="assets/images/delta.png" alt="Delta">
            </div>
           
          </li>
          <li>
            <div class="agntImg">
              <img src="assets/images/alaska.png" alt="Alaska">
            </div>
           
          </li>
          <li>
            <div class="agntImg">
              <img src="assets/images/spirit.png" alt="Spirit">

            </div>
       
          </li>
          <li>
            <div class="agntImg">
              <img src="assets/images/southwest.png" alt="SouthWest">

            </div>
         
          </li>
          <li>
            <div class="agntImg">
              <img src="assets/images/united.png" alt="United">
            </div>
            
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
</div>
<footer class="footer wow fadeInDown">
  <div class="container">
    <div class="footerIn">
      <div class="dFlex footerTop">
        <div class="footerContact">
          <a href="index.html" class="footerLogo mb_24">
            <img src="./assets/images/passcoverage-white.png" width="276" height="54" alt="Passcoverage" />
          </a>
          <p class="colorWhite">
            Unlock seamless skies, find your perfect flight. GuaranteedFlight.com: Where travel dreams take flight.
          </p>
          <ul class="dFlex footerSocial">
            <li>
              <a href="https://www.instagram.com/accounts/login/" target="_blank">
                <img src="./assets/images/insta.png" width="25" height="25" alt="Passcoverage" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/i/flow/login" target="_blank">
                <img src="./assets/images/tw.png" width="25" height="25" alt="Passcoverage" />
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/login/" target="_blank">
                <img src="./assets/images/fb.png" width="25" height="25" alt="Passcoverage" />
              </a>
            </li>
          </ul>
        </div>
        <div class="dFlex fmBoxMain">
          <div class="fmBox">
            <h5 class="colorWhite mb_12">Bookings</h5>
            <ul>
              <li *ngFor="let destination of destinations">
                <a (click)="selectDestination(destination)">Flights To {{ destination.cityName }}</a>
              </li>
            </ul>
          </div>
          
          <div class="fmBox">
            <h5 class="colorWhite mb_12">Quick Links</h5>
            <ul>
              <li>
                <a routerLink="/popularAirlines">Popular Airlines</a>
              </li>
              
            
              <li>
                <a href="https://www.passcoverage.com/" target="_blank" rel="noopener noreferrer">My Flight Was Cancelled</a>
              </li>
            </ul>
          </div>
          <div class="fmBox">
            <h5 class="colorWhite mb_12">Company</h5>
            <ul>
              <li>
                <a routerLink="/about" fragment="top" >About Us</a>
              </li>
              <li>
                <a routerLink="/misson" fragment="top" >Misson Statement</a>
              </li>
             
              <li>
                <a routerLink="/Contract" fragment="top" >Contract of Carriage</a>
              </li>
              <li>
                <a routerLink="/RefundPolicy" fragment="top" >Refund Policy</a>
              </li>
              <li>
                <a routerLink="/advertising" fragment="top" >Advertising</a>
              </li>
              <li>
                <a routerLink="/support"  >Contact us</a>
              </li>
            </ul>
          </div>
          <div class="fmBox">
            <h5 class="colorWhite mb_12">Legal</h5>
            <ul>
              <li>
                <a routerLink="/privacy" fragment="top" >Privacy Policy</a>
              </li>
              <li>
                <a routerLink="/cookie" fragment="top" >Cookie Policy</a>
              </li>
          
              <li>
                <a routerLink="/terms" fragment="top" >Terms & Conditions</a>
              </li>
              <li>
                <a routerLink="/taxes" fragment="top" >Taxes & Fees</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form [formGroup]="subscribeForm">
        <div class="dFlex footerMid" >
          <div class="footerMidIn" style="display:none">
            <h5 class="colorWhite mb_12">Subscribe Newsletter</h5>
            <div class="dFlex fmInner">
              <div
                *ngIf="subscribeForm.get('email')?.invalid && (subscribeForm.get('email')?.dirty || subscribeForm.get('email')?.touched)"
                class="error-message">
                <span *ngIf="subscribeForm.get('email')?.hasError('required')"
                  style="color: red;text-align: center;">Email is required.</span>
                <span *ngIf="subscribeForm.get('email')?.hasError('email')"
                  style="color: red;text-align: center;">Invalid email format.</span>
              </div>

              <br>
              <input type="text" formControlName="email" placeholder="Your email address">
              <button type="submit"  [disabled]="subscribeForm.invalid">Subscribe</button>

            </div>
          </div>
        </div>
      </form>
      <div class="footerBottom textCenter">
        <p class="">
          © {{currentYear}}, An GuaranteedFlights.com Group Company. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>